@model IEnumerable<TravelOn.Models.Review>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Contents";
}

<div class="row">
    <h2>Trending Reviews</h2>
    <p>
        Sed porttitor lectus nibh. Nulla quis lorem ut libero malesuada feugiat. 
        Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. 
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; 
        Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. 
    </p>
    <p>
        <span class="rList btn btn-default"> @Html.ActionLink("Add your own", "Create")</span>
    </p>
</div>



<div class="row">
    @foreach (var item in Model)

    {

        <div class="featureCol col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="featureBG" style="background-image:url(@Html.DisplayFor(modelItem => item.ImagePath))">

                <div class="infoWrap">
                    <div class="subColIconBox">

                        <h4>@Html.DisplayFor(modelItem => item.Title)</h4>

                        <p>
                            @Html.DisplayFor(modelItem => item.Category.Name)<br />
                            Published @Html.DisplayFor(modelItem => item.Published)
                        </p>

                    </div>

                    <div class="starRate text-center">
                        <p>
                            @myHelpers.StarRater(item.Rate.Rating)
                        </p>
                    </div>
                    <p><span class="btn btn-default"> @Html.ActionLink("More Info", "Details", new { id = item.ID }) &#8594;</span></p>

                </div>

            </div>


        </div>
    }

</div>

