@model TravelOn.Models.Review

@{
    ViewBag.Title = Html.DisplayFor(model => model.Title);
}

<h2>About @Html.DisplayFor(model => model.Title) </h2>

<div class="row">
    <div class="detailsBG" style="background-image:url(@Html.DisplayFor(modelItem => Model.ImagePath))">
    </div>
</div>
<div class="row">
    <div class="detailsInfo col-xs-12 col-md-6">
        <h4>Review</h4>
        @Html.DisplayFor(model => model.Content)
    </div>
    <div class="detailsItems col-xs-12 col-md-6">
        <p><h4>Category</h4> @Html.DisplayFor(model => model.Category.Name)</p>
        <p><h4>Rating</h4>@myHelpers.StarRater(Model.Rate.Rating)</p>

        <p><h4>Reviewed</h4> @Html.DisplayFor(model => model.Published)</p>

        <p>
            <span class="btn btn-default"> @Html.ActionLink("Back to List", "Index")</span>
            <span class="btn btn-default"> @Html.ActionLink("Edit", "Edit", new { id = Model.ID })</span>
        </p>

    </div>
</div>




