@model IEnumerable<TravelOn.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2>Review List</h2>

<p>

    <span class="rList btn btn-default"> @Html.ActionLink("Create New", "Create")</span>
</p>

@foreach (var item in Model)
{
    <div class="row itemsRow">
        <div class="itemDetails col-md-3">
            <p>
                <h4>@Html.DisplayFor(modelItem => item.Title)</h4><br />
                @Html.DisplayNameFor(model => model.Rate.Rating): @myHelpers.StarRater(item.Rate.Rating)<br />
                @Html.DisplayNameFor(model => model.Category.Name): @Html.DisplayFor(modelItem => item.Category.Name)<br />
                @Html.DisplayNameFor(model => model.Published): @Html.DisplayFor(modelItem => item.Published) <br />

                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })

            </p>

        </div>

        <div class="itemContent col-md-6">

            @Html.DisplayFor(modelItem => item.Content)
        </div>

        <div class="itemImage col-md-3">
            <img width="180" src="@Html.DisplayFor(modelItem => item.ImagePath)" />
        </div>

    </div>
}



